@model IEnumerable<Category>


@foreach (var category in Model)
{
    <a class="dropdown-item" href="#">@category.CategoryName</a>
}
<div class="dropdown-divider"></div>
<a  class="dropdown-item" asp-controller="Pie" asp-action="List">Pies</a>
