@model IEnumerable<Category>


@foreach (var category in Model)
{
    <a asp-controller="Pie" asp-action="List" asp-route-category="@category.CategoryName" class="dropdown-item">@category.CategoryName</a>
}
<div class="dropdown-divider"></div>
<a class="dropdown-item" asp-controller="Pie" asp-action="List">View All Pies</a>
